<a href="https://colab.research.google.com/github/EvelynJazminVelazquez/INTELIGENCIA-ARTIFICIAL-2024-2/blob/master/jueves_24_10_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

saber que version es

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [ ]:
numero=5
tmp1="evelyn"
print(numero)
print(f"Mi nombre es {tmp1}")
print(numero+5)
print(numero-3)
print(numero*3)
print(numero/3)
print(numero%3)
print(numero**3)
numero *=2
print(numero)
print(type(numero))
print(type(tmp1))

5
Mi nombre es evelyn
10
2
15
1.6666666666666667
2
125
10
<class 'int'>
<class 'str'>

In [ ]:
t=True
f=False
print(type(t))
print(t and f)
print(t or f)
print(not t)
print(t!=f)

<class 'bool'>
False
True
False
True

In [ ]:
aux1='hello'
aux2='world'
print(aux1+aux2)
print(aux1*4)
print(aux1.capitalize())
print(aux1.upper())
aux3='EVELYN'
print(aux3.lower())

helloworld
hellohellohellohello
Hello
HELLO
evelyn

In [ ]:

aux2 = list()
aux2.append(1)
aux2.append('jazmin')
aux2.append(True)
aux2.append(4)
print(aux2)
print(aux2[1])
print(aux2[-1])

aux2[1] = 'sol'
print(aux2)

print('')

[1, 'jazmin', True, 4]
jazmin
4
[1, 'sol', True, 4]

In [ ]:
tmp1=list(range(100))
for x in tmp1:
    print(f"El valor es {x}")

El valor es 0
El valor es 1
El valor es 2
El valor es 3
El valor es 4
El valor es 5
El valor es 6
El valor es 7
El valor es 8
El valor es 9
El valor es 10
El valor es 11
El valor es 12
El valor es 13
El valor es 14
El valor es 15
El valor es 16
El valor es 17
El valor es 18
El valor es 19
El valor es 20
El valor es 21
El valor es 22
El valor es 23
El valor es 24
El valor es 25
El valor es 26
El valor es 27
El valor es 28
El valor es 29
El valor es 30
El valor es 31
El valor es 32
El valor es 33
El valor es 34
El valor es 35
El valor es 36
El valor es 37
El valor es 38
El valor es 39
El valor es 40
El valor es 41
El valor es 42
El valor es 43
El valor es 44
El valor es 45
El valor es 46
El valor es 47
El valor es 48
El valor es 49
El valor es 50
El valor es 51
El valor es 52
El valor es 53
El valor es 54
El valor es 55
El valor es 56
El valor es 57
El valor es 58
El valor es 59
El valor es 60
El valor es 61
El valor es 62
El valor es 63
El valor es 64
El valor es 65
El valor es 66
El valor es 67
El valor es 68
El valor es 69
El valor es 70
El valor es 71
El valor es 72
El valor es 73
El valor es 74
El valor es 75
El valor es 76
El valor es 77
El valor es 78
El valor es 79
El valor es 80
El valor es 81
El valor es 82
El valor es 83
El valor es 84
El valor es 85
El valor es 86
El valor es 87
El valor es 88
El valor es 89
El valor es 90
El valor es 91
El valor es 92
El valor es 93
El valor es 94
El valor es 95
El valor es 96
El valor es 97
El valor es 98
El valor es 99

In [11]:
listaAnimales=list()
listaAnimales.append('mono')
listaAnimales.append('pato')
listaAnimales.append('gato')
listaAnimales.append('cocodrilo')
listaAnimales.append('leon')
listaAnimales.append('perro')
listaAnimales.append('loro')
print(listaAnimales)
tmp1=listaAnimales[:3]
print("Animales %s"%(tmp1))

temp2=listaAnimales[2:]
print("Animales %s "%(temp2))

tmp3=listaAnimales[2:4]
print("Animales %s"%(tmp3))

listaAnimales[2:4]=['zorro','caracol']
print(listaAnimales)

['mono', 'pato', 'gato', 'cocodrilo', 'leon', 'perro', 'loro']
Animales ['mono', 'pato', 'gato']
Animales ['gato', 'cocodrilo', 'leon', 'perro', 'loro']
Animales ['gato', 'cocodrilo']
['mono', 'pato', 'zorro', 'caracol', 'leon', 'perro', 'loro']

In [10]:
for numero,animal in enumerate(listaAnimales):
  print('%d: %s'%(numero+1,animal))

1: mono
2: pato
3: zorro
4: caracol
5: leon
6: perro
7: loro

In [17]:
listaNum=list(range(50))
print(listaNum)
listaNumCuadrado=list()
for numero in listaNum:
  listaNumCuadrado.append(numero**2)
print(listaNumCuadrado)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

comprencion de listas

In [18]:
listaCuadrado=[i**2 for i in listaNum]
print(listaCuadrado)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

In [19]:
listaImpares=[i for i in listaNum if i%2==1]
print(listaImpares)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [22]:
listaPares=[i for i in listaNum if i%2==0]
print(listaPares)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [23]:
myDictionary={'pato':'lindo','gato':'lindo'}
print(myDictionary)

{'pato': 'lindo', 'gato': 'lindo'}

In [24]:
for key in myDictionary:
  print(myDictionary[key])

lindo
lindo

In [32]:
dictiCuadrado={'1':1,'2':4,'3':9,'4':16}
print(dictiCuadrado)

diccCuadrados={i:i**2 for i in listaNum}
print(diccCuadrados)

{'1': 1, '2': 4, '3': 9, '4': 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401}

In [33]:
setElementos={'mono','pato','gato','cocodrilo','leon','perro','loro'}
print(setElementos)

{'pato', 'mono', 'gato', 'perro', 'cocodrilo', 'leon', 'loro'}

si esta en el contenedor

In [40]:
print('mono' in setElementos)
setElementos.add('oso')
print(setElementos)
setElementos.remove('oso')
print(setElementos)
print(len(setElementos))

True
{'mono', 'loro', 'gato', 'perro', 'pato', 'cocodrilo', 'leon', 'pez', 'oso'}
{'mono', 'loro', 'gato', 'perro', 'pato', 'cocodrilo', 'leon', 'pez'}
8

In [44]:
def suma(a,b):
  return a+b

tmp1=1
tmp2=2
print('La suma de los valores es igual: ',suma(tmp1,tmp2))

La suma de los valores es igual:  3

In [53]:
listaNu=[0,0,-1]

def evaluaSing(tmp):
  if tmp<0:
    return 'Negativo'
  elif tmp>0:
    return 'Positivo'
  else:
    return 'Cero'
for cadNum in listaNu:
  print(evaluaSing(cadNum))

Cero
Cero
Negativo

In [63]:
class saludos(object):
  def __init__(self,nombre):
    self.nombre=nombre

  #print('Se ejecuta automaticamente')
  def mensaje(self):
    print('Hola', self.nombre)

name1=saludos('Evelyn')

name1.mensaje()

Hola Evelyn

In [65]:
class numeros(object):
  def __init__(self,numero1, numero2):
    self.numero1=numero1
    self.numero2=numero2
  def suma(self):
    return self.numero1+self.numero2

problema1=numeros(10,20)
print(problema1.suma())

30